* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #ffffff;
}


.background {
    background: #FDFBEA;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FF6B00; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #006067; 
}