.register {
    background: url('../assets/images/pictures/ide1.jpg') center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register form {
    font-family: 'Roboto', serif;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register form .input {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.register form input {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 10px;
}

.register form input:focus {
    border: none;
    outline: none;
}

.register form input[type='text']{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.register form input[type='password']{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.register form input::placeholder {
    color: #fff;
}

.register span {
    font-weight: 600;
    color: #fff;
    margin: 15px 0;
}

.register form .submit_register {
    cursor: pointer;
    transition: .5s;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.register form .submit_register:hover {
    background: #ffffff36;
}   

.register form .login_link {
    cursor: pointer;
    transition: .5s;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 10px;
}

.register form .login_link:hover {
    background: #ffffff36;
}