.roboto {
    font-family: 'Roboto', serif;
}

/* title */
.shop_title {
    height: 100vh;
    width: 100%;
    background: url('../assets/images/pictures/ide4.jpg') center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', serif;
    color: #fff;
}

.shop_title .gift {
    font-weight: 400;
    font-size: 75px;
}

.shop_title .g_shop {
    margin-top: -50px;
    font-size: 175px;
}

/* le shop */
.shop_container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.forview_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* card shop */
.shop .card {
    width: 250px;
    height: 200px;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 3px solid #FF6B00;

}

.view {
    font-family: 'Roboto', serif;
    padding: 5px 10px;
    border-radius: 10px;
    background: #FF6B00;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', serif;
    color: #fff;
    height: 100%;
    width: 100%;
    background: #003b40cf;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.card .info .name {
    padding: 10px;
    font-weight: 500;
}

.card .info .price {
    color: #FF6B00;
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
}

.card .info .description {
    font-size: 15px;
    text-align: start;
    padding: 25px;
    overflow: scroll;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

.card .info .buy {
    color: #fff;
    border: none;
    margin: 5px;
    font-size: 13px;
}

.card .info .buy:hover {
    color: #006067;
    background: #fff;
}


.card .info.view_info {
    overflow: visible;
    max-height: 1000px; 
}

.card .info:hover {
    height: 100%;
}

.forview_info form .controls a {
    color: #000;
}

.forview_info form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test {
    height: 150vh;
    width: 100%;
    background: url('../assets/images/pictures/nourice.jpg') center;
    background-size: cover;
}

/* ADMIN PANEL */
.controls {
    border-top: 3px solid #00D3B2;
    background: #454545;
    padding: 10px;
    width: 97%;
    display: flex;
    justify-content: space-around;
}

.added_prod {
    border-top: 3px solid #00D3B2;
    padding: 25px 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #454545;
}

.added_prod form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.added_prod form .input {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.added_prod form .input input {
    padding: 5px;
}

.added_prod form .ajouter {
    cursor: pointer;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: #282828;
    color: #fff;
    font-weight: 500;
}